:host {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: row;
}

/* Table grid suits perfectly for those controls and labels, but we keep the template design-agnostic, that is why
   we table-ize it in CSS
 */
div.group {
  display: table;
}

label {
  display: table-row;
}

div.label {
  display: table-cell;
  padding: 0.25rem;
}

/* Note: ':' after labal text is an element of visual design, what is why it is in CSS */
div.label::after {
  content: ":";
}

input[type="text"] {
  display: table-cell;
  margin: 0.25rem;
}

input[type=submit] {
  margin: 0.25rem;
}

.error-display {
  color: red
}
